<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue实现任务列表</title>
    <link rel="stylesheet" href="css/index.css">
    <script type='text/javascript' src='js/vue.js'></script>
</head>
<body>
    <div id="app" class="main">
        <div class="task-nav">
            任务计划列表
        </div>
        <div class="task-add ">
            <h2>添加任务：</h2>
            <input type="text" placeholder="例如：吃饭睡觉打豆豆；  提示：+回车即可添加任务"  @keyup.13="addTodo(123,$event)" v-model="todo">
            <div class="task-state clearfix"   v-show="list.length">
                <div class="task-state-left">
                {{
                    noCheckedLength
                }}
                个任务未完成
                </div>
                <ul class="task-state-right">
                    <li>所有任务</li>
                    <li>未完成的任务</li>
                    <li>完成的任务</li>
                </ul>
            </div>
        </div>
        <div class="task-list">
            <h3>任务列表：</h3>
            <p  class="task-list-none" v-show="!list.length">还没添加任何任务</p>
            <ul class="task-list-have todo">
                <li v-for="item in list" :class="{view: item.isChecked}">
                    <input type="checkbox" v-model="item.isChecked">
                    <input type="text" @dblclick="editorTodo(item)" v-model="item.title" :readonly="!item.edit" @keyup.13="finishEdit(item)" @blur="finishEdit(item)" @keyup.esc="cancelEdit(item)" />
                    <div class="del-button" @click="deleteTodo(item,$event)">删除</div>
                    <input type="hidden" v-focus="!item.edit" value="15455">
                </li>
            </ul>
        </div>
    </div>
    <script src="js/app.js"></script>
</body>
</html>