html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.task-nav {
    width: 100%;
    height: 36px;
    padding: 0 25%;
    box-sizing: border-box;
    background-color: #FF6600;
    text-align: left;
    font-size: 20px;
    line-height: 36px;
    color: #FFF;
}
.task-add {
    width: 50%;
    margin: 0 auto;
}
.task-add h2 {
    height: 42px;
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 42px;
}
.task-add input {
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 10px 0;
}
.task-add .task-state {
    width: 100%;
    height: 50px;
    text-align: right;
    font-size: 16px;
    line-height: 50px;
}
.task-add .task-state .task-state-left {
    float: left;
    width: 20%;
    text-align: center;
    color: #F05A10;
}
.task-add .task-state .task-state-right {
    display: inline-block;
    width: 70%;
    height: 50px;
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 30px;
}
.task-add .task-state .task-state-right li{
    display: inline-block;
    width: 30%;
    height: 30px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}
.task-add .task-state .task-state-right li a{
    display: block;
    text-decoration: none;
    color: #999;
}
.task-add .task-state .task-state-right li:hover {
    border: 1px solid #333;
    line-height: 28px;
}
.task-add .task-state .task-state-right li:hover a{
    color: #333;
}
.task-add .task-state .task-state-right li.selected {
    border: 1px solid #999;
    line-height: 28px;
}
.task-add .task-state .task-state-right li.selected a{
    color: #333;
}
.task-list {
    width: 50%;
    margin: 0 auto;
}
.task-list h3 {
    height: 42px;
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 42px;
}

.task-list .task-list-none {
    margin: 0;
    padding: 10px 0;
    font-size: 14px;
    text-indent: 1em;
    color: #666;
}
.task-list .task-list-have {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-top: 1px solid #999;
    list-style: none;
}
.task-list .task-list-have li {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #999;
    box-sizing: border-box;
}
.task-list .task-list-have li input[type="checkbox"] {
    float: left;
    width: 8%;
    height: 12px;
    margin: 4px auto;
    padding: 0;
    zoom: 200%;
}
.task-list .task-list-have li input[type="text"] {
    float: left;
    width: 80%;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 16px;
    color: #666;
}
.task-list .task-list-have li.view input[type="text"]{
    text-decoration: line-through;
    color: #999;
}
.task-list .task-list-have li .selected {
    text-decoration: line-through;
}
.task-list .task-list-have li .del-button{
    float: right;
    width: 6%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    background: #FFF;
}
.task-list .task-list-have li .del-button:hover {
    background: url(./del.jpeg) no-repeat 50% 50%/ 80% 80%;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}